h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2rem;
}
h3,h2{
    font-family: 'Adamina';
}
.main-header{
    text-align: center;
    background-image: url("../img/wall.jpg");
}
.bg-purpura{
    background-color: #c07fc3;
}
.desc-princ{
    font-size: 1.3rem;
}

.futbol{
    background-color: #86bc8e ;
}
.videojuegos{
    background-color: #706ed4;
}
.esports{
    background-color: aqua;
}
.separacion-der {
	text-align: center;
    position: relative;
}
.separacion-der::before{
  content: "";
  text-align: center;
  height: 100%;
  width: 2px;
  background-color: rgba(1, 1, 1, 0.4);
  position: absolute;
}
.subtitulo{
    padding-bottom: 30px;
}
.img-300{
    height: 300px;
}